.footer {
  height: 250px;
  width: 100%;
  background-color: var(--top-color);
  color: white;
}
.footer__title {
  margin-top: 0;
  padding-top: 15px;
  font-family: "Rubik 80s Fade", cursive;
  font-size: 25px;
  color: var(--left-color);
}
.footer__columns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}
.footer__column {
  display: flex;
  font-size: 11px;
  font-family: "Mukta", sans-serif;
  color: var(--left-color);
}
.footer__column:hover {
  cursor: pointer;
  opacity: 0.7;
  color: white;
  transition: 0.3s ease-in;
}
.footer__contact {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: 5px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
