.header {
  width: 100%;
  display: flex;
  height: 130px;
  background-color: var(--top-color);
}
.header__text {
  color: var(--left-color);
  font-family: "Rubik 80s Fade", cursive;
  align-self: flex-end;
  margin-left: 30px;
}
.header__image {
  width: 75px;
  height: 75px;
  margin: 25px;
}
.header__title {
  color: white;
  align-self: flex-end;
  margin-bottom: 15px;
  margin-left: 25px;
  font-size: 70px;
  font-family: "Rubik 80s Fade", cursive;
}
