/* * {
  border: 1px solid red;
} */

.left {
  /* height: 625px; */
  background-color: var(--top-color);
  display: inline-block;
  position: absolute;
  left: -200px;
  width: 200px;
  font-size: 0.9rem;
  transition: transform 0.3s;
  font-family: "Mukta", sans-serif;
  border: 3px solid var(--left-color);
  border-radius: 15px;
}
.left__circles {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 20px;
}
.left__circle {
  width: 100px;
  height: 60px;
  background-color: var(--left-color);
  border-radius: 10px;
  margin-right: 20px;
}
.left__circle:hover {
  cursor: pointer;
  animation: shake 0.1s;
  outline: solid white 2px;
  border-radius: 50px;
  transition: 0.25s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.left__image {
  height: 35px;
  margin: 12px 30px;
}
@media (min-width: 40rem) {
  .left {
    width: 10.4166667%;
    left: 0;
    position: relative;
  }
}
