.middle {
  /* height: 625px; */
  background-color: var(--top-color);
  transition: transform 0.3s;
  color: white;
  font-size: 0.9rem;
  font-family: "Rubik 80s Fade", cursive;
}
.middle__title {
  color: white;
  padding: 15px;
  margin-left: 160px;
}
.middle__container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-left: 200px;
  flex-wrap: wrap;
  gap: 65px;
}
@media (min-width: 40rem) {
  .middle {
    display: inline-block;
    /* width: 68.75%; */
    width: 75%;
  }
}
canvas {
  border: 3px solid var(--left-color);
  border-radius: 15px;
}

.middle__text {
  width: 570px;
  height: 190px;
  background-color: var(--left-color);
  color: var(--top-color);
  font-family: "Mukta", sans-serif;
  padding: 15px;
  border-radius: 10px;
  margin-right: 20px;
}

.middle__image {
  max-width: 600px;
  background-color: var(--left-color);
  border-radius: 15px;
}
.middle__image:hover {
  outline: 3px solid var(--left-color);
  transition: 0.2s ease-in;
}
