.right {
  height: 625px;
  width: 100%;
  background-color: var(--left-color);
  font-size: 0.9rem;
}

@media (min-width: 40rem) {
  .right {
    width: 10.4166667%;
    display: inline-block;
  }
}
