.right {
  /* height: 625px; */
  width: 100%;
  background-color: var(--left-color);
  font-size: 0.9rem;
  font-family: "Mukta", sans-serif;
}

@media (min-width: 40rem) {
  .right {
    width: 20.8333333%;
    display: inline-block;
  }
}
